include mixins/container.pug

+container(logged, user)
div(class="container poll-container")
    h2 Create a Poll
    h6(style="color:red;") * = required
    h4= error
    form(action="/" + user + "/create" method="post" class="form-horizontal" role="create-poll")
        div(class="form-group" id="poll-info")
            label(for="question" class="col-sm-2 control-label") Question*
            div(class="col-sm-10")
                input(type="text" class="form-control" name="question")
            label(for="option 1", class="col-sm-2 control-label") Option 1*
            div(class="col-sm-10")
                input(type="text" class="col-sm-10 form-control" name="option_1")
            label(for="option 2", class="col-sm-2 control-label") Option 2*
            div(class="col-sm-10")
                input(type="text" class="form-control" name="option_2")
        button(type="button", class="btn btn-link" onClick="addOption()") Add Option
        div
            button(type="submit" value="Create" class="btn btn-info") Create Poll

script(src="/js/createpoll.js")
