include mixins/container.pug

+container(logged, user)
div(class="container poll-container")
    ul
        each poll, name in polls
            a(href='/poll/' + poll.link)
                li= poll.name
    button(class="btn btn-primary btn-block") Create a new poll
