include mixins/container.pug

+container(logged, user)
div(class="container poll-container")
    ul
        each poll, name in polls
            a(href='polls/' + poll.link)
                li= poll.name
    form(action="/" + user + "/create")
        button(class="btn btn-primary btn-block") Create a new poll
