@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro')

$default-vert-padding: 10%

body
    margin-bottom: 50px

header
    width: 100%
    height: auto
    text-align: center
    background-color: #bae3f5
    border-top: solid 2px gray
    border-bottom: solid 2px gray
    padding: 30px
    margin-bottom: 50px
    h1
        font-family: 'Source Sans Pro', sans-serif

.poll-container
    border: 2px solid gray
    padding: 0
    text-align: center
    ul
        margin: 0
        float: left
        width: 100%
        text-align: center
        padding: 0
        li
            background-color: #d7ffc4
            font-family: 'Helvetica', sans-serif
            cursor: pointer
            padding-top: 10px
            padding-bottom: 10px
            list-style-type: none
            margin: 2px 0 2px 0
        li:hover
            background-color: #c0fabe
    h2
        font-family: 'Source Sans Pro', sans-serif
        margin-top: 35px
    form[role="poll"]
        text-align: left
        padding-top: $default-vert-padding
        padding-bottom: $default-vert-padding
        padding-left: 40%
        input
            margin-bottom: 25px
        p
            display: inline
            padding-left: 5px
            font-size: large
    canvas
        padding-right: 75px
        margin-bottom: $default-vert-padding
    form[role="login"]
        width: 50%
        padding-top: 50px
        margin: 0 auto
        padding-bottom: $default-vert-padding
        button
            float: right
    form[role="create-poll"]
        width: 50%
        padding-top: 50px
        margin: 0 auto
        padding-bottom: $default-vert-padding
        button[type="submit"]
            float: right
        button[type="button"]
            float: left
        input
            margin-bottom: 10px
    h4
        color: red
    h3
        text-decoration: underline
        margin-bottom: $default-vert-padding
    form[role="add-option"]
        padding: 50px
        margin-bottom: 50px
